<nav id="nav-wrap" class="twelve columns">
    <ul id="nav">
        <li><a data-description="Bienvenue" href="http://treeptik.fr/index.html">Accueil</a></li>
        <li class="has-sub"><a data-description="Présentations" href="http://treeptik.fr/presentation-treeptik.html">La société</a>
            <ul>
                <li><a href="http://treeptik.fr/presentation-treeptik.html">Présentation et historique</a></li>
                <li><a href="http://treeptik.fr/treeptik-une-entreprise-innovante.html">Une entreprise innovante</a></li>
                <li><a href="http://treeptik.fr/treeptik-en-chiffre.html">Quelques chiffres</a></li>
                <li><a href="http://treeptik.fr/recrutement.html">Rejoignez-nous</a></li>
                <li><a href="http://treeptik.fr/treeptik-actualites.html">Actualités</a></li>
                <li><a href="http://treeptik.fr/treeptik-presse.html">On parle de nous</a></li>
            </ul>
        </li>
        <li class="has-sub"><a data-description="Notre offre" href="http://treeptik.fr/developpement-application-entreprise.html">L'offre de
            service</a>
            <ul>
                <li><a href="http://treeptik.fr/developpement-application-entreprise.html">Développement d'applications</a></li>
                <li><a href="http://treeptik.fr/cloudcomputing-devops.html">Le cloud computing</a></li>
                <li><a href="http://treeptik.fr/cloudunit-paas-java.html">CloudUnit</a></li>
                <li><a href="http://treeptik.fr/expertise-java.html">Expertise et assistance</a></li>
                <li><a href="http://treeptik.fr/creation-site-internet.html">Création de Site Internet</a></li>
            </ul>
        </li>
        <li class="has-sub"><a data-description="Partage du savoir" href="http://treeptik.fr/formation-java.html">Les
            Formations</a>
            <ul>
                <li><a href="http://treeptik.fr/formation-java.html">Les cursus de formation</a></li>
                <li><a href="http://treeptik.fr/aide-au-recrutement.html">L'aide au recrutement</a></li>
            </ul>
        </li>
        <li><a data-description="Nous trouver" href="http://treeptik.fr/contact.html">Contact</a></li>
        <li class="current"><a data-description="Pour les techniciens" href="http://blog.treeptik.fr">Le Blog</a></li>
    </ul>
</nav>