<!doctype html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="description" content="{{ site.description }}" />
  <meta name="author" content="{{ site.author }}" />
  <meta name="robots" content="index, follow" />
  <meta name="viewport" content="user-scalable=no,width=device-width" />
  <meta name="keywords" content="Treeptik expertise Java" />
  <meta name="copyright" content="Copyright 2012 to Present"/>
  <meta name="google-site-verification" content="XUkxAz2T7iH7BfeNCKk88xUnTqNHjnMirb4GQv196GA" />
  <link href="{{ site.url }}/feed/index.xml" rel="alternate" title="Treeptik RSS feed" type="application/rss+xml" />
  <link href="http://blog.treeptik.fr/" rel="home" />
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
  <link type="text/css" rel="stylesheet" media="screen, projection" href="/css/screen.css" /> 
  <link type="text/css" rel="stylesheet" media="all" href="/css/custom.css" />
  <!--[if lt IE 8]>
    <link type="text/css" rel="stylesheet" media="screen, projection" href="/css/ie.css" />
  <![endif]--> 
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  {% include prettify.html %}
  {% include google_analytics.html %}	
</head>
  <body>
    <div class="container">
      <header class="span-21 last" id="header">
			<a href="{{ site.url }}" rel="home bookmark"><img src="{{ site.url }}/images/logo-blog.png" alt="{{ site.title }}"/> </a>
      </header>

      <div class="span-16" id="content">
        {{ content }}
      </div>
      <div class="span-5 last" id="sidebar">
        <div class="sidebarbox">
{% include tagCloud.html %} 
          <h4>Menu</h4> 
          <ul id="pages">
	        <li>
              <a rel="bookmark" title="Home" href="/">Accueil</a>
            </li>
	    <li>
               <a href="/tag">Tag</a>
	    </li>
            <li>
              <a rel="bookmark" title="About" href="/about">Team</a>
            </li>
            <li>
              <a rel="bookmark" title="Archives" href="/archives" id="archives">Archives</a> 
            </li>
          </ul>
        </div>
        <div class="sidebarbox"> 
          <h4>Flux</h4> 
          <ul> 
            <li> 
              <a title="RSS Feed" href="/feed/index.xml" class="icon-link" id="feed-link">RSS</a> 
            </li> 
          </ul> 
        </div> 
        <div class="sidebarbox"> 
          <h4>Contact</h4> 
          <ul> 
            <li> 
              <a rel="bookmark" title="Email" href="mailto:contact@treeptik.fr" class="icon-link" id="gmail-link">Gmail</a> 
            </li> 
            <li> 
              <a rel="bookmark" title="Twitter" href="http://twitter.com/treeptikteam" class="icon-link" id="twitter-link">Twitter</a> 
            </li> 
            <li> 
              <a rel="bookmark" title="GitHub" href="http://github.com/treeptik" class="icon-link" id="github-link">GitHub</a> 
            </li> 
          </ul> 
	</div>


     </div>

      <footer class="span-21 last" id="footer">
			All content copyright &copy; Treeptik. Powered by <a href="http://github.com/mojombo/jekyll" title="The Jekyll (static site generator) code repository" rel="external" target="_blank">Jekyll</a>.      
			</footer>
    </div>

    {% include disqus.html %}
    <script src="/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'treeptikblog'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
  </body>
</html>
