<!DOCTYPE html>
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Développement d'application d'entreprise - Treeptik</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{{ site.base}}/css/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="{{ site.base}}/css/main.css" type="text/css" media="all">
    <link type="text/css" rel="stylesheet" media="screen, projection" href="{{ site.base}}/css/code.css"/>
    <link rel="stylesheet" href="{{ site.base}}/fancybox/fancybox.css" type="text/css">
    <link rel="stylesheet" href="{{ site.url}}/css/syntax.css" type="text/css" media="all">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900|Oswald:300,400' rel='stylesheet'
          type='text/css'>

    <!-- JS
    ================================================== -->
    <!--[if lt IE 9]>
    <script src="js/modernizr.custom.11889.js" type="text/javascript"></script>
    <![endif]-->
    <!-- HTML5 Shiv events (end)-->

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="{{ site.url }}/images/favicon.ico">

</head>
<body>

<!-- Primary Page Layout
================================================== -->

<div id="wrap">
    <section id="top-head">
        <div class="container">
            <div class="top-social"><a href="http://treeptik.fr/en"><img src="{{ site.base }}/images/en.png"
                                                                         alt="English version" height="16"
                                                                         title="English version"></a><a
                    href="https://twitter.com/treeptikTeam "><img src="{{ site.base }}/images/social-icons/twitter.png"
                                                                  alt=""></a><a
                    href="https://plus.google.com/101644017807219815482"><img
                    src="{{ site.base }}/images/social-icons/google-plus.png" alt=""></a></div>
        </div>
    </section>
    <header id="header" class="container">
        <div class="four columns logo"><a href="{{ site.url }}/index.html"><img id="img-logo"
                                                                                src="{{ site.base }}/images/logo.png"
                                                                                alt="logo"></a><br>
            <h4 class="slogan1"></h4></div>

        {% include nav.html %}

        <!-- /nav-wrap -->
        <p>&nbsp;</p>
    </header>
    <!-- end-header -->
    <section id="headline2">
        <div class="container">
            <h3>Dev Blog</h3>
        </div>
    </section>

    <section class="container page-content">

        {{ content }}

    </section>
    <!-- container -->

    <!-- container -->
    <footer id="footer">
        <div class="container footer-in">


            <div class="nine columns">
                <h4 class="subtitle">Restez connecté</h4>
                <br/>

                <div id="twitter-feed"></div>
            </div>
            <!-- end-follow2 -->


            <div class="four columns">
                <h4 class="subtitle">Contact</h4>
                <br/>

                <p>
                    <img src="{{ site.base }}/images/social_address.png" class="alignleft"
                         alt="">&nbsp;<strong>Adresse:</strong>
                    <br/> 100 route des Houllières 13590 Meyreuil
                </p>

                <p>
                    <img src="{{ site.base }}/images/social_phone.png" class="alignleft"
                         alt="">&nbsp;<strong>Téléphone:</strong>
                    <br/> 04 42 61 28 55<br/>
                </p>

                <p>
                    <img src="{{ site.base }}/images/social_mail.png" class="alignleft"
                         alt="">&nbsp;<strong>Email:</strong>
                    <br/>contact@treeptik.fr<br/>
                </p>
                <h4 class="subtitle">Avec le soutien de</h4>
                <ul class="partners">
                    <li><img src="{{ site.base }}/images/logo_region_paca.jpg" alt="Logo de la région PACA"></li>
                    <li><img src="{{ site.base }}/images/logo_oseo.jpg" alt="Logo d'Oséo"></li>
                </ul>
            </div>
            <!-- end-contact2 -->
        </div>
        <!-- end-footer-in -->
        <div class="footbot">
            <div class="footer-navi">
                <a href="{{ site.base }}/index.html">Accueil</a> | <a
                    href="{{ site.base }}/developpement-application-entreprise.html">Service</a> | <a
                    href="{{ site.base }}/formation-java.html">Formation</a> | <a
                    href="http://blog.treeptik.fr">Blog</a> | <a href="https://plus.google.com/101644017807219815482">Google
                +</a> | <a href="{{ site.base }}/contact.html">Contact</a> | <a
                    href="{{ site.base }}/info-legales.html">Informations légales</a>
            </div>

            <img src="{{ site.base }}/images/logo-bas.png" alt="">
        </div>
    </footer>
    <!-- end-footer -->
    <span id="scroll-top"><a class="scrollup"></a>
    </span>
</div>
<!-- end-wrap -->
<!-- End Document
================================================== -->
<script type="text/javascript" src="{{ site.base}}/js/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.url}}/js/jquery.fancybox.pack"></script>
<script type="text/javascript" src="{{ site.base }}/js/yalin-custom.js"></script>
<script src="{{ site.base}}/js/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="{{ site.base }}/layerslider/jQuery/jquery-easing-1.3.js"
        type="text/javascript"></script>
<script src="{{ site.base }}/layerslider/js/layerslider.kreaturamedia.jquery.js"
        type="text/javascript"></script>
<script type="text/javascript" src="{{ site.base}}/js/nav-resp.js"></script>
<!--<script type="text/javascript" src="{{ site.base}}/js/colorize.js"></script>-->
<script type="text/javascript" src="http://blog.treeptik.fr/js/twitterfeed.js"></script>


{% include google_analytics.html %}



</body>
</html>
