---
layout: default
---


<article class="post">
<div class="date-sp-wrap">
  <div class="blog-date-sp">
    <h3>{{ page.date | date: "%d" }}</h3><span>{{ page.date | date: "%m" }}<br>{{ page.date | date: "%Y" }}</span>
  </div>
</div>
<div class="ten columns omega blog-post">
  <h3><a href="{{ site.url }}{{ page.url }}" rel="bookmark permalink" title="Permanent link to this post">{{ page.title }}</a></h3>
  <div class="postmetadata">
    <h6 class="blog-author"><strong>par</strong> {{ page.author }} </h6>
    <h6 class="blog-author"><strong>tag : </strong> {{ page | tags }} </h6>
  </div>
  <!-- Bloc pour mettre une image a coté de l'article 
  <div class="four columns alpha blog2-img">
    <img src="images/blog-post-pic1-2.jpg">
  </div>-->
  <div class="ten columns omega">

{{ content }}
  </div>
</div>
</article>
<section id="sidebar">
<div><input name="" type="text" placeholder="Recherchez ..." class="search-side" ></div>

<h4 class="subtitle">Tags</h4>
<ul>
  {% for tag in site.tags %}
    <li class="tag-box"><a href="{{ site.url }}/tags.html#{{ tag | first | cgi_encode }}">{{ tag | first }}</a></li>
  {% endfor %}
</ul>

<br class="clear">

<h4 class="subtitle">Archives</h4>
<div class="listbox1">
  <ul>
    {% for post in site.posts %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div><!-- end-listbox1 -->

<br class="clear">
<br/>
<br/>
<a class="follow-box" href="https://twitter.com/treeptikteam">
  <h4>Suivez <strong>@treeptikTeam</strong></h4>
</a>

<br class="clear">

<br/>
<br/>


  <div class="meta">
   <div class="published">
<h6 class="blog-author"><strong>Publié le : </strong> {{ page.date | date: "%d-%m-%Y" }} </h6>
 <br class="clear">   
<h6 class="blog-author"><strong>Par :</strong> {{ page.author }} </h6>

   </div>
<br class="clear">
   <div class="tweet"><a href="http://twitter.com/?status=Reading '{{ page.title }}' from http://blog.treeptik.fr{{ page.url }} by @treeptikteam" title="Tweet {{ page.title }}">Partagez l'article</a>	</div>
  </div>

</section><!-- end-sidebar-->



<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'treeptikblog'; // required: replace example with your forum shortname

    // The following are highly recommended additional parameters. Remove the slashes in front to use.
    // var disqus_identifier = 'unique_dynamic_id_1234';
    var disqus_url = '{{ site.url }}{{ page.url }}';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
